<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youth.dao.UserInfoDao">
    <select id="getUserInfoByPhone" parameterType="java.lang.String" resultType="com.youth.bean.UserInfo">
        SELECT * FROM user_info WHERE phone = #{phone}
    </select>
    
    <insert id="saveRegisterInfo" parameterType="com.youth.bean.UserInfo" >
        replace into user_info 
        	(id,username,password,phone)
        	values
            (#{user.id,jdbcType=VARCHAR}, 
            #{user.username,jdbcType=VARCHAR},
            #{user.password,jdbcType=VARCHAR},
            #{user.phone,jdbcType=VARCHAR})
    </insert>
    
    <insert id="saveDepartmentVoteInfo" parameterType="com.youth.bean.Departments">
        replace into departments 
        (id,departname,voteresult,userId)
        	values
         <foreach collection="departsList" item="item" index="index" separator=",">
            (#{item.id,jdbcType=VARCHAR}, 
            #{item.departName,jdbcType=VARCHAR},
            #{item.voteResult,jdbcType=VARCHAR},
            #{item.userId,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <insert id="saveBasicDepartmentVoteInfo" parameterType="com.youth.bean.BasicDepartment">
        replace into basic_department 
        (id,departs,departname,voteresult,userId)
        	values
         <foreach collection="basicList" item="item" index="index" separator=",">
            (#{item.id,jdbcType=VARCHAR}, 
            #{item.departs,jdbcType=VARCHAR},
            #{item.departname,jdbcType=VARCHAR},
            #{item.voteResult,jdbcType=VARCHAR},
            #{item.userId,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <select id="getDepartmentVoteResult" parameterType="java.lang.String" resultType="com.youth.bean.Departments">
        SELECT * FROM departments WHERE userId = #{userId}
    </select>
    
    <select id="getBasicDepartmentVoteResult" parameterType="java.lang.String" resultType="com.youth.bean.BasicDepartment">
        SELECT * FROM basic_department WHERE userId = #{userId}
    </select>
    
    <select id="getStaticsResult" parameterType="java.lang.String" resultType="com.youth.bean.VoteResult">
        SELECT departname depart, 
			sum(case voteresult WHEN 1 then 1 else 0 END) as satisfly,
			sum(case voteresult WHEN 1 then 1 else 0 END) as litteSatisfly,
			sum(case voteresult WHEN 1 then 1 else 0 END) as unsatisfly,
			sum(case voteresult WHEN 1 then 1 else 0 END) as unknow,
			sum(case voteresult WHEN 1 then 3  WHEN 2 then 1 ELSE 0 END) as rank
		from ${type} GROUP BY departname ORDER BY rank DESC;
    </select>
    
    <select id="getDepartments" resultType="com.youth.bean.Departments">
        SELECT * FROM `departments` where remark = '1';
    </select>
    
    <select id="getBasicDepartments" resultType="com.youth.bean.BasicDepartment">
        SELECT * FROM `basic_department` where remark = '1';
    </select>
    
</mapper>
